<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<configSections>
		<sectionGroup name="applicationSettings"
                type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="UpdateUI.Properties.Settings"
            type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
            requirePermission="false" />
		</sectionGroup>


		<sectionGroup name="userSettings"
                type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="UpdateUI.Properties.Settings"
            type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
            allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
	</startup>
	<applicationSettings>
		<UpdateUI.Properties.Settings>
   <setting name="stationapp_bin_target" serializeAs="String">
    <value>C:\Deploy\StationApp</value>
   </setting>
   <setting name="stationapp_config_file" serializeAs="String">
    <value>C:\Deploy\local_config\StationApp.config</value>
   </setting>
   <setting name="download_temp_folder" serializeAs="String">
    <value>C:\Deploy\Downloads</value>
   </setting>
   <setting name="download_verified_folder" serializeAs="String">
    <value>C:\Deploy\Downloads_Verified</value>
   </setting>
   <setting name="stationapp_version_file" serializeAs="String">
    <value>generated_gitdescribe.txt</value>
   </setting>
   <setting name="station_app_config_file_name" serializeAs="String">
    <value>StationApp.config</value>
   </setting>
   <setting name="station_app_additional_config_file_name" serializeAs="String">
    <value>additional.config</value>
   </setting>
   <setting name="additional_config_file" serializeAs="String">
    <value>C:\Deploy\local_config\additional.config</value>
   </setting>
   <setting name="default_video_folder" serializeAs="String">
    <value>C:\Deploy\StationApp\media\videos</value>
   </setting>
   <setting name="config_url_format" serializeAs="String">
    <value>{0}/api/v0/station_access/{1}/configuration</value>
   </setting>
   <setting name="unc_reports_path" serializeAs="String">
    <value>\\term\reports_from_stations</value>
   </setting>
   <setting name="inhouse_server" serializeAs="String">
    <value>term</value>
   </setting>
   <setting name="s3_reports_bucket" serializeAs="String">
    <value>pixformance-reports-from-stations</value>
   </setting>
   <setting name="log_file" serializeAs="String">
    <value>../updater.log</value>
   </setting>
   <setting name="s3_logs_bucket" serializeAs="String">
    <value>pixformance-smarttrainer-logs</value>
   </setting>
   <setting name="messages_folder" serializeAs="String">
    <value>C:\Deploy\messages</value>
   </setting>
   <setting name="exercise_messages_folder" serializeAs="String">
    <value>C:\Deploy\StationApp\messages</value>
   </setting>
  </UpdateUI.Properties.Settings>
	</applicationSettings>

	<system.diagnostics>
		<trace autoflush="true" />
		<sources>
			<source name="PixformanceUpdaterApp"
           switchName="activeLevelSwitch"
           switchType="System.Diagnostics.SourceSwitch">
				<listeners>
					<clear />
					<add name="textListener"
          type="System.Diagnostics.TextWriterTraceListener"
          initializeData="active_log_file.txt"
          traceOutputOptions="DateTime" />
					<remove name="Default" />
				</listeners>
			</source>
		</sources>
		<switches>
			<add name="activeLevelSwitch" value="All" />
		</switches>
	</system.diagnostics>


	<userSettings>
		<UpdateUI.Properties.Settings>
   <setting name="station_app_folder" serializeAs="String">
    <value>C:\Deploy\StationApp\</value>
   </setting>
   <setting name="exercises_url_format" serializeAs="String">
    <value>{0}/api/v0/station_access/{1}/exercises/custom</value>
   </setting>
   <setting name="server_url" serializeAs="String">
    <value>https://pixformance-api-live.herokuapp.com</value>
   </setting>
   <setting name="custom_ex_folder" serializeAs="String">
    <value>C:\Deploy\userExercises</value>
   </setting>
   <setting name="s3_bucket_custom_exercises" serializeAs="String">
    <value>pixformance-custom-exercises</value>
   </setting>
   <setting name="s3_key_custom_exercises" serializeAs="String">
    <value />
   </setting>
   <setting name="s3_messages_bucket" serializeAs="String">
    <value>pixformance-messages</value>
   </setting>
   <setting name="s3_videos_bucket" serializeAs="String">
    <value>pixformance-videos</value>
   </setting>
   <setting name="video_folder" serializeAs="String">
    <value>C:\Deploy\videos</value>
   </setting>
   <setting name="exercise_videos_url_format" serializeAs="String">
    <value>{0}/stations/api/v1/exercise_videos/?station_name={1}</value>
   </setting>
  </UpdateUI.Properties.Settings>
	</userSettings>
</configuration>
